# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environment
venv/

# Ignore IDE files (optional)
.idea/
*.iml
#Environment variables file
credentials.env

# Ignore data files and logs
data_files/processed
data_files/summaries
app.log