# AWS Configuration
AWS_ACCESS_KEY_ID=<>
AWS_SECRET_ACCESS_KEY=<>
AWS_REGION=us-east-1

# MySQL Configuration
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=catalyst
MYSQL_USER=de-<>
MYSQL_PASSWORD=<>

# Spark Configuration (Optional - will use defaults if not set)
SPARK_MASTER=local[*]
SPARK_APP_NAME=TransactionProcessor

# Logging Configuration
LOG_LEVEL=INFO